html { margin: 0; }
body{
    -webkit-print-color-adjust:exact !important;
    print-color-adjust:exact !important;
    margin: 0;
    margin: 0.2cm;
}
@page {
    size: A3 portrait;
}

.jetons {
    position: relative;
}

.jetons.jetons-bounded {
    border:0.3cm dashed black;
    content-box: border-box;
    width: var(--jetons-width);
    height: var(--jetons-height);
}
.outer-tuile {
    break-inside: avoid-page;
    margin: 1em;
    display: inline-block;
    max-height: var(--tile-height);
    height: var(--tile-height)m;
    min-height: var(--tile-height);
    max-width: var(--length);
    min-width: var(--length);
    width: calc(3cm + var(--length));
    padding: 0;
    margin: 0;
    vertical-align: top;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius:0.1cm;
    color: hsl(var(--hue) var(--contrast) 20%);
    border-color: hsl(var(--hue) var(--contrast) 20%);
    background-color: hsl(var(--hue) var(--contrast) 85%);
}
.outer-tuile.big {
    font-size: 1.2em;
}
.outer-tuile.big.verybig {
    font-size: 1.4em;
}
.outer-tuile.small {
    font-size: 0.8em;
}

.outer-tuile.verysmall {
    font-size: 0.6em;
}


.tuile-inner.small, .tuile-inner.verysmall {
    --minus-length:calc(0cm - var(--length));
    transform-origin: top left;
    transform: rotate(90deg) translateY(var(--minus-length));
    height: var(--length);
    width: var(--tile-height);
}

.tuile-inner.big {
    height: calc(var(--tile-height) - 0.3cm);
}    
.tuile-inner.verysmall {
    transform: rotate(90deg) translateY(var(--minus-length));
}

.tuile-inner {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;   
}
.header {
    border-bottom: 2px solid hsl(var(--hue) 70% 20%);
}
.where {
    font-weight: bold;
    font-size: 1.5em;
}
.person {
    font-size: 1em;
    text-align:right;
    font-style: italic;
    float: right;
    padding-top:0.2em;
    background-color:var(--person-color);
    border-radius: 0.1em;
}
.person.small {
    margin-top:2px;
    margin-right:2px;
}
.descr {
    margin: 1em;
    flex-grow: 1;
    display: block;
    margin-top: 2em;
    text-align: center;
}

.small .descr {
    margin-top: 0.3em;
    margin:0.5em;
}
.verysmall .descr {
    margin-top: 0.1em;
    margin:0.3em;
}

body {
    --constrast: 80%;
}
.rangA {
    --hue: 20;
    --contrast: 80%;
}
.rangB {
    --hue: 40;
    --contrast: 70%;
}
.postdoc {
    --hue: 251;
    --contrast: 40%;
}
.technique {
    --hue: 290;
    --contrast: 50%;
}
.PhD {
    --hue: 177;
    --contrast: 30%;
}

.small .reverse, .verysmall .reverse {
    display: none;
}
.big .reverse {
    transform: rotate(180deg);
    border-bottom: 2px solid hsl(var(--hue) 70% 20%);
}

.first, .second {
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    width: var(--width);
    height: var(--height);
    border: 1px red solid;
    background-color: hsla(var(--hue), 70%, 20%, 10%);
    color: hsl(var(--hue), 70%, 50%);
}
.first {
    --hue: 40;
}
.second {
    --hue: 0;
}
.first span, .second span {
    float: right;
    font-size: 6em;
    font-weight: bold;
    background-color: hsla(var(--hue), 70%, 20%, 90%);
}

.visual .reverse { display: none;}

.table-name {
    text-align: right;
}

.small .person, .verysmall .person {
    transform: translate(-3px, 3px);
    border-radius: 0.2cm;
}
.verysmall .table-name {
    margin-top: -2em;
}
.small .table-name {
    margin-top: -5em;
}
.table-name span {
    border-radius: 50%;
    border: 1px solid black;
    padding-left: 0.2em;
    font-size: 0.7em;
    padding-right: 0.2em;
}

.postdoc {
    --person-color: lightblue;
}
.dr {
    --person-color: lightgreen;
}
	
.cr1 {
    --person-color: lightblue;
}

.cr2 {
    --person-color: lightgreen;
}
    
.phd1 {
    --person-color: lightgreen;
}    
.phd2 {
    --person-color: orange;
}    
.phd3 {
    --person-color: yellow;
}    
.phd4 {
    --person-color: pink;
}    
	
.inge {
    --person-color: lightgreen;
}

    
.pagebreak {
    height: 1cm;
}
